<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Edit User Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <h1>Edit User Profile</h1>
    <form th:object="${user}" th:action="@{/save/{username}(username=${user.username})}" method="post">
        <input type="hidden" th:field="*{userId}" /> 
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" required="required" th:field="*{username}" />
            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</td>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <textarea class="form-control" id="email" name="email" required="required" th:field="*{email}"></textarea>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</td>
        </div>
        <div class="form-group">
            <label for="role">Role:</label>
            <input type="text" class="form-control" id="role" name="role" readonly="readonly" th:value="${role}" />
        </div>
       
        <button type="submit" value="Save" class="btn btn-success">Add Review</button>

    </form>
    
</body>
</html>
