<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Reviews</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
        <h1>Reviews for <span th:text="${game.title}"></span></h1>

        <table class="table table-striped">
            <tr>
                <th>User</th>
                <th>Rating</th>
                <th>Comment</th>
            </tr>

            <tr th:each="review : ${reviews}">
                <td th:text="${review.user.username}"></td>
                <td th:text="${review.rating}" ></td>
                <td th:text="${review.comment}"></td>
            </tr>
        </table>
        <a href="/games" class="btn btn-info">Back to Games</a> 
        <a th:href="@{/addreview/{gameId}(gameId=${game.gameId})}" class="btn btn-success">Add a Review</a> 
    </div>
</body>
</html>
